In [1]:
import nltk
import unidecode
import pandas as pd
import os, re, string, gzip, itertools
import numpy as np
import tensorflow as tf
from nltk import word_tokenize
from nltk.stem import PorterStemmer
from sklearn.preprocessing import LabelBinarizer, LabelEncoder
from sklearn.metrics import confusion_matrix
from tensorflow import keras
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.svm import LinearSVC, SVC
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from collections import defaultdict
from sklearn.model_selection import train_test_split

In [2]:
# categories = ['alt.atheism', 'soc.religion.christian',
#              'comp.graphics', 'sci.med']
twenty_train = fetch_20newsgroups(subset='train')
#                                   ,
#    categories=categories, shuffle=True, random_state=42)
twenty_test = fetch_20newsgroups(subset='test')
#    categories=categories, shuffle=True, random_state=42)

In [3]:
my_dict = dict(zip(twenty_train.data , twenty_train.target))
train= pd.DataFrame.from_dict(my_dict, orient= 'index')
train.reset_index(inplace=True)
train.columns = ['Features', 'Target']
train.head()

                                            Features  Target
0  From: lerxst@wam.umd.edu (where's my thing)\nS...       7
1  From: guykuo@carson.u.washington.edu (Guy Kuo)...       4
2  From: twillis@ec.ecn.purdue.edu (Thomas E Will...       4
3  From: jgreen@amber (Joe Green)\nSubject: Re: W...       1
4  From: jcm@head-cfa.harvard.edu (Jonathan McDow...      14

In [4]:
my_dict = dict(zip(twenty_test.data , twenty_test.target))
test= pd.DataFrame.from_dict(my_dict, orient= 'index')
test.reset_index(inplace=True)
test.columns = ['Features', 'Target']
test.head()

                                            Features  Target
0  From: v064mb9k@ubvmsd.cc.buffalo.edu (NEIL B. ...       7
1  From: Rick Miller <rick@ee.uwm.edu>\nSubject: ...       5
2  From: mathew <mathew@mantis.co.uk>\nSubject: R...       0
3  From: bakken@cs.arizona.edu (Dave Bakken)\nSub...      17
4  From: livesey@solntze.wpd.sgi.com (Jon Livesey...      19

In [5]:
df = train.append(test)
df

                                               Features  Target
0     From: lerxst@wam.umd.edu (where's my thing)\nS...       7
1     From: guykuo@carson.u.washington.edu (Guy Kuo)...       4
2     From: twillis@ec.ecn.purdue.edu (Thomas E Will...       4
3     From: jgreen@amber (Joe Green)\nSubject: Re: W...       1
4     From: jcm@head-cfa.harvard.edu (Jonathan McDow...      14
...                                                 ...     ...
7527  From: richmond@spiff.Princeton.EDU (Stupendous...      14
7528  From: smytonj@murr11.alleg.edu (Jim Smyton)\nS...       4
7529  From: hhenderson@vax.clarku.edu\nSubject: RE: ...       9
7530  From: b859zam@utarlg.uta.edu \nSubject: INTEL ...       6
7531  From: adamsj@gtewd.mtv.gtegsc.com\nSubject: Re...      15

[18846 rows x 2 columns]

In [9]:
vectorizer = TfidfVectorizer()
training_features = vectorizer.fit_transform(train['Features'])    
test_features = vectorizer.transform(test['Features'])
svc=LinearSVC()
svc.fit(training_features.toarray(), train['Target'] )
y_pred=svc.predict(test_features.toarray())
print("Test Accuracy: %0.2f"% (accuracy_score(y_pred, test['Target'])))

Test Accuracy: 0.85

In [17]:
svc=LinearSVC( penalty= 'l1' ,  dual=False)
svc.fit(training_features.toarray(), train['Target'] )
y_pred=svc.predict(test_features.toarray())
print("Test Accuracy: %0.2f"% (accuracy_score(y_pred, test['Target'])))

Test Accuracy: 0.81

In [12]:
y_pred=svc.predict(training_features.toarray())
print("Test Accuracy: %0.2f"% (accuracy_score(y_pred, train['Target'])))

Test Accuracy: 0.90

In [7]:
# SVCpipe = Pipeline([('scale', StandardScaler()),
#                    ('SVC',LinearSVC())])

In [ ]:
# # param_grid = {'SVC__C':np.arange(1,100,10)}
# linearSVC = GridSearchCV(SVCpipe, param_grid, cv=5,return_train_score=True)
# linearSVC.fit(training_features.toarray(), train['Target'] )